.s{
    margin: 50px;
}
.a {
    padding: 50px;
    
   
    
}
.b {
    
    border: 2px solid black;
    background-color: blue;
}
.v {
    border: 2px solid black;
    background-color: yellow;
}
.g {
    border: 2px solid black;
    background-color: green;
}
.d {
    border: 2px solid black;
    background-color: pink;
}