.a {
    box-sizing: border-box;
    border: 3px solid black;
    padding: 50px ;
    background-color: aqua;
    
}
.one {
margin-bottom:50px ;

}
.two {
margin-bottom: 50px;
}
.tree {
margin-bottom: 50px;
}
.four {
margin-bottom: 50px;
}
.five {
margin-bottom: 50px;
}