* {
    box-sizing: border-box;
   
}
section {
    margin: 32px;
}
html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}
h1 {
    word-spacing: 20px;
}
p {
    line-height: 28px ;
}
span {
    font-size: 24px ;
    font-weight: 900;
    letter-spacing: 3px;
    opacity: 80%;
    text-decoration: underline;
}
em {
    color: grey;
}
a {
    text-decoration: none;
}