* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    
    width: 100%;
    z-index: 1;
    height: 40px;
    
    
    
    background-color: darkturquoise;
}

.nav-list {
    list-style-type: none;
}

nav > .nav-list > li {
    padding: 10px;
    float: left;
    padding-left: 20px;
    color: white;
    
}
nav {
   color: white; 
   margin-left: 16px;
}
main {
    position: relative;
    background-color:  beige;
    height: 5000px;
   
} 
.head {
    position: fixed;
    
    width: 200px ;
    top: calc(50% - 100px);
    left:calc(50% - 100px) ;
    
    height: 200px;
    background-color: aquamarine;
    
}


.ear_right {
    position: absolute;
    width: 40px;
    height: 60px;
    top: -60px;
    right: -40px;
    
    background-color: brown;
}
.ear_left {
    position: absolute;
    width: 40px;
    height: 60px;
    top: -60px;
    left: -40px;
    background-color: brown;
}
.eye_right  {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    top: 80px;
    left: 40px;
}
.eye_left {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
    top: 80px;
    right: 40px;

}


