* {
    box-sizing: border-box;
}
.static-perent {
    position: static;
}
.relative-parent {
    position: relative;
    bottom: 20px;
    right: 100px;
    background-color: aqua;
}
.absolute-parent {
    position: absolute;
    bottom: 20px;
    right: 50px;
}
.fixed-parent {
    position: fixed;
    bottom: 20px;
    right: 30px;
}