* {
    box-sizing: border-box;
} 
 
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
   
}
.container {
    display: flex;
    flex-direction: column;
}


.square {
    height: 100px;
    width: 100px;
    margin: 8px;
    background-color: #ff7f50;
    orientation: landscape;
}
@media screen and (min-width: 600px ) and (orientation: portrait ) {
    .square {
         background-color:  #8a2be2;
        
    }
    .container  {
        flex-direction: row;
    }
      
} 

