@import 'style';
* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 100vh;

}
.container {
   display: flex;
   flex-direction: column;
}
   
.square {
   display: flex;
    width: 100px;
    height: 100px;
    background-color: #ff7f50;
    margin: 8px;
   
}

.square {
    @include function {
       background-color: #8a2be2;
        
    }
   
}
.container {
  display: flex;
  @include orient {
    flex-direction: column;
  }
}
.square {
    @include bem {
        background-color: #a61;
        
    }
}
.square{
    @include bim {
        display: flex;
        background-color: #c47;
    }
}
