* {
    box-sizing: content-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
.header {
    display: flex;
    height: 3em;
    background-color: #eee;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
    
}
main {
    display: flex;
    
}
i {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 0px;
    border: none;
    background-color: none;
    cursor: pointer;
}
.navigation {
    
    width: 20%;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
   
}
.nav-list {
    padding: 0px;
}
.nav-list-item {
   background-color: #808080;
    list-style-type: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 2em;
    margin: 0.5em;
    color: white;
     
   
}
.nav-list-link {
    display: flex;
     color: white;
    height: 100%;
    padding: 0.5em;
    text-decoration: none;
    
   
}
@media screen  and (max-width:600px){
    .nav-list {
        display: none;
        overflow: hidden;
    }
}
@media  screen and (min-width: 600px) {
     .fas {
        display:none ;
    }

}