* {
    box-sizing: border-box;
}


div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    width: 250px;
    height: 100px;
    border-radius: 10px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: ease 2s;
    animation-fill-mode: forwards;
    
}
@keyframes ease {
    to {
        top:100px;

    }
    from {
        top: calc(50vh -50px);
    }
}