* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
   
}
header {
    display: flex;
    background-color: yellow;
    height: 40px;
    align-items: center;
    
}
 
 
.ul1 {
    display: flex;
    list-style-type: none;
    
}
.li1 {
    margin-left: 16px;
}
main {
    flex-grow: 1;
    display: flex;
}
div {
    display: flex;
    
    min-height: 100vh;
}
section {
    display: flex;
    background-color: pink;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

aside {
    background-color: grey;
    width: 200px;
}
.h1 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 16px;
}
.ul2 {
    line-height: 40px;
    margin-left: 16px;
    list-style-type: none;
}
footer {
    display: flex;
    background-color: green;
    height: 40px;
   
}
span {
    margin: auto;
}
.h3 {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
}