* {
    margin: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    height: 40px;
    background-color: yellow;
    align-items: center;
    
}
nav {
    margin-left: -16px;
    display: flex;
    
    list-style-type: none;
    
}

.ul1 {
    list-style-type: none;
    display: flex;
}

.li1 {
    margin-right: 10px;
    
    
    
    list-style-type: none;

}

footer {
    height: 40px;
    background-color: green;
    display: flex;
}
span {
    display: flex;
    margin: auto;
}
main {
    flex-grow: 1;
   
    display: flex;
}
div {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
aside {
    width: 200px;
    background-color: gray;
}
section {
    display: flex;
    flex-grow: 1;
    background-color: pink;
    justify-content: center;
    align-items: center;
}
.li2 {
    margin-bottom: 16px;
    margin-left: -16px;
    list-style-type: none;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}