.forall {
    height: 200px;
    width: 200px;
}
.block-red {
    background-color: red;
    float: left;
}
.block-green {
    background-color: green;
     float: left;
}
.block-blue {
    background-color: blue;
     float: left;
}
.block-yellow {
    background-color: yellow;
     float: left;
}
.block-black {
    background-color: black;
     float: left;
}
body {
    margin: 0;
}