* {
    box-sizing: border-box;
}
.forall {
    height: 200px;
    width: 200px;
}
.blockred {
    background-color: red;
    float: left;
}
.blockgreen {
    background-color: green;
     float: left;
}
.blockblue {
    background-color: blue;
     float: left;
}
.blockyellow {
    background-color: yellow;
     float: left;
}
.blockblack {
    background-color: black;
     float: left;
}
body {
    margin: 0px;
}
