.forall {
    height: 200px;
    width: 200px;
}
.block1 {
    background-color: red;
    float: left;
}
.block2 {
    background-color: green;
     float: left;
}
.block3 {
    background-color: blue;
     float: left;
}
.block4 {
    background-color: yellow;
     float: left;
}
.block5 {
    background-color: black;
     float: left;
}