* {
    box-sizing: border-box;
}
.navigation  {
    background-color: #f77f50;
    flex-direction: column;
}
.products-list {
    background-color: #006400;
}
.news {
    background-color: #0ff;
}
.block {
  height: 200px;
  display: flex;
  flex: 1;
}
main {
    display: flex;
    flex-direction: column;
}
.text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: auto;
  padding: 8px;
  background-color: #faebd7;
  text-transform: lowercase;
  border-radius: 4px;
}
@media screen and (max-width: 600px){
    section {
         flex-direction: column;
    }
    .news {
        min-height: 200px;
    }
}
@media screen  and (min-width: 600px) and (max-width:899px){
    section {
        display: flex;
       flex-grow: 2;
       
      
    }
    .news {
        min-height: 200px;
    }
    .items {
    display: flex;
  }
  .products-list {
    flex-basis: 50%;
  }
  .navigation {
    flex-basis: 50%;
  }
}

@media screen and (min-width: 900px) {
    main {
        display: flex;
        flex-direction: row;
    }
    section {
        display: flex;
        flex:2;
    }
}
 
