* {
    box-sizing: border-box;
}
.navigation  {
    background-color: #f77f50;
     
}
.products-list {
    background-color: #006400;
     
}
.news {
    background-color: #0ff;
    
      
}
.block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    flex-grow: 1;
}

.text {
    display: flex;
    background-color: #faebd7; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: lowercase;
    margin: 8px;
    
    border-radius: 4px;
    
    
}
@media screen and (max-width: 600px){
    div {
         flex-direction: column;
        
    }
}
@media screen  and (min-width: 600px) and (max-width:899px){
    section {
        display: flex;
       flex-grow: 1;
        
    }
}
@media screen and (min-width: 900px) {
    div {
        display: flex;
     
       
    }
}
