* {
    box-sizing: border-box;
}

.text {
 
    display: flex;
    flex-direction: column;
    margin: 16px;
   border-bottom: 1px  dotted black;
   
    display: inline-block;
}
.tooltip {
   position: relative;
   
   background-color: gray;
   color: white;
   border-radius: 4px;
   padding: 8px;
   display: block;
   bottom: -40px;
   
}

    

